<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>蓝煜热力客户信息服务管理系统</title>
<meta charset="UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<!-- <link rel="shortcut icon" th:href="/favicon.ico" /> -->
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
<!-- <sitemesh:write property='head'/> -->
</head>
<body th:inline="text">
	<div class="head" th:include="fragements/header"></div>
	<div class="left" th:include="fragements/left"></div>
	<div class="right">
		<div class="brandcrumb">
			<h6 class="position">您当前的位置为：首页</h6>
		</div>
		<div class="right-scr">
			<div  class="mt-15">
				<table class="table table-bordered ta-c">
						<tr>
							<td>报修单名</td>
							<td>结算户代码</td>
							<!-- <td>档案号</td> -->
							<td>用户名</td>
							<td>状态</td>
							<td>地址</td>
							<td>紧急联系人</td>
							<td>联系人电话</td>
							<td>保修类型</td>
							<td>备注信息</td>
							<td>故障原因</td>
							<td>分发工单时间</td>
							<td>故障处理结束时间</td>
							<td>备注信息</td>
						</tr>
						<tr id="result">
							<td>[[${insurance.name}]]</td>
							<td>[[${insurance.client.no}]]</td>
							<!-- <td></td> -->
							<td>[[${insurance.client.name}]]</td>
							<td>[[${insurance.client.state}]]</td>
							<td>[[${insurance.client.address}]]</td>
							<td>[[${insurance.contact}]]</td>
							<td>[[${insurance.phone}]]</td>
							<td>[[${insurance.itype}]]</td>
							<td>[[${insurance.comment} == null?'':${insurance.comment}]]</td>
							<td>[[${insurance.reason}]]</td>
							<td>[[${#dates.format(insurance.startDate, 'dd/MMM/yyyy HH:mm')}]]</td>
							<td>[[${#dates.format(insurance.endDate, 'dd/MMM/yyyy HH:mm')}]]</td>
							<td>[[${insurance.empComment}]]</td>
						</tr>
				</table>
			</div>
			<!-- TODO:维修图片显示 -->
			<div class="achive-searchbox clearfix">
				<div class="achive-searchbox repair-form clearfix">
					<form id="form" method="post" action="/client/feedback">
						<input type="hidden" name="id" th:value="${insurance.id}" />
						<div class="field mr-38">
							<div class="input-row">
								<label>对本次维修服务评价：</label>
								<div th:each="item,stat : ${assessments}">
									<span th:text="${item.desc}"></span>
									<input  type="radio" name="assessment" th:value="${item.ordinal()}" class="form-control" />
								</div>
							</div>
						</div>
						<div class="field mr-38" id="comp">
							<div class="input-row">
								<label>投诉内容：</label>
								<textarea name="complaint" class="form-control" ></textarea>
							</div>
						</div>						
						<div class="field">
							<div class="search-btn">
								<input type="submit" name="提交" id="submit"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" th:include="fragements/footer"></div>
<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.validate.min.js}"></script>
<script>
$(function(){
	$('#comp').hide();
	$('form input[type=radio]').on('click', function(){
		var assessment = $(this).val();
		var ischeck = this.checked;
		if(assessment === "COMPLAINT"){
			if(ischeck){
				$('#comp').show();
			}
		}else{
			$('#comp').hide();
		}
	});
});
</script>
</body>
</html>