<!-- <div class="header">
	<div class="container">
		<div class="logo pull-left">
				<a title="蓝煜热力客户信息服务管理系统" th:href="@{/index}"></a><h1>蓝煜热力客户信息服务管理系统</h1>
		</div>
		<div class="head"> -->
			<div class="logo"></div>
			<div class="building"></div>
		<!-- </div>
		<ul class="nav nav-pills pull-left hd-nav">
			<li><a th:href="@{/index}">首页</a></li>
			<li sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_LEADER')"><a th:href="@{/signup}">注册</a></li>
		</ul>
		<a class="logout pull-right label label-primary" href="/logout">退出</a>
	</div>
</div> -->