<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>蓝煜热力客户信息服务管理系统</title>
<meta charset="UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<!-- <link rel="shortcut icon" th:href="/favicon.ico" /> -->
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/uploadify.css" />
<!-- <sitemesh:write property='head'/> -->
</head>
<body th:inline="text">
	<div class="head" th:include="fragements/header"></div>
	<div class="left" th:include="fragements/left"></div>
	<div class="right">
		<div class="brandcrumb">
			<h6 class="position">您当前的位置为：<a href="/index"><span style="color:white">首页</span></a>&gt;处理保修单</h6>
		</div>
		<div class="right-scr">
			<div class="mt-15">
					<table class="table table-bordered ta-c">
						<tr>
							<td>结算户代码</td>
							<!-- <td>档案号</td> -->
							<td>用户名</td>
							<td>状态</td>
							<td>地址</td>
							<td>紧急联系人</td>
							<td>联系人电话</td>
							<td>保修类型</td>
							<td>备注信息</td>
						</tr>
						<tr id="result">
							<td>[[${insurance.client.no}]]</td>
							<!-- <td></td> -->
							<td>[[${insurance.client.name}]]</td>
							<td>[[${insurance.client.state}]]</td>
							<td>[[${insurance.client.address} == null?'':${insurance.contact}]]</td>
							<td>[[${insurance.contact} == null?'':${insurance.contact}]]</td>
							<td>[[${insurance.phone} == null?'':${insurance.phone}]]</td>
							<td>[[${insurance.itype}]]</td>
							<td>[[${insurance.comment} == null?'':${insurance.comment}]]</td>
						</tr>
				</table>
				<!-- TODO: -->
				<div class="achive-searchbox clearfix">
					<form id="form" method="post" action="/emp/feedback">
						<input type="hidden" name="id" th:value="${insurance.id}" />
						<div class="field mr-38">
							<div class="input-row">
								<label>故障原因：</label>
								<textarea name="reason" class="form-control" ></textarea>
							</div>
						</div>
						<div class="field mr-38">
							<div class="input-row">
								<label>分发工单时间：</label>
								<span class="form-control" th:if="${insurance.startDate != null}">[[${#dates.format(insurance.startDate, 'dd/MMM/yyyy HH:mm')}]]</span>
							</div>
						</div>
						<div class="field mr-38">
							<div class="input-row">
								<label>备注：</label>
								<textarea name="empComment" class="form-control"></textarea>
							</div>
						</div>
						<input type="hidden" name="images" id="images" /><br/>
						<div class="field">	
							<div class="search-btn">
								<input type="submit" name="提交" id="submit"/>
							</div>
						</div>
					</form>
				</div>
			
				故障照片上传：
				<div id="filelist"></div>
				<br />
				
				<div id="container">
				    <a id="pickfiles" href="javascript:;">[选择文件]</a> 
				    <a id="uploadfiles" href="javascript:;">[上传文件]</a>
				</div>
				
				<br />
				<pre id="console"></pre>
			</div>
		</div>
	</div>
	<div class="footer" th:include="fragements/footer"></div>
<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plupload.full.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.validate.min.js}"></script>
<script type="text/javascript">
var uploader = new plupload.Uploader({
	runtimes : 'html5,flash,silverlight,html4',
	browse_button : 'pickfiles', // you can pass in id...
	container: document.getElementById('container'), // ... or DOM Element itself
	url : '/emp/upload',
	flash_swf_url : '/static/css/Moxie.swf',
	silverlight_xap_url : '/static/css/Moxie.xap',
	
	filters : {
		max_file_size : '10mb',
		mime_types: [
			{title : "Image files", extensions : "jpg,gif,png"},
			{title : "Zip files", extensions : "zip"}
		]
	},

	init: {
		PostInit: function() {
			document.getElementById('filelist').innerHTML = '';

			document.getElementById('uploadfiles').onclick = function() {
				uploader.start();
				return false;
			};
		},

		FilesAdded: function(up, files) {
			plupload.each(files, function(file) {
				document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
			});
		},

		UploadProgress: function(up, file) {
			document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
		},
		
		UploadComplete: function(up, file) {
			document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
		},

		Error: function(up, err) {
			document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
		},
		
		FileUploaded: function(up, file, res){
			var resp = $.parseJSON(res.response);
			var o = document.getElementById('images').value;
			if(!o){
				o = resp.file;
			}else{
				o += ',' + resp.file;
			}
			document.getElementById('images').value = o;
		}
	}
});

uploader.init();

</script>
</body>
</html>