<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>蓝煜热力客户信息服务管理系统</title>
<meta charset="UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
<!-- <sitemesh:write property='head'/> -->
</head>
<body th:inline="text">
	<div th:include="fragements/header"></div>
	<div class="container wrapper">
		<div th:include="fragements/left" class="sidebar col-xs-2"></div>
		<div class="main col-xs-10">
			<div class="chart-pane"><!-- <sitemesh:write property='body'/> sec:authentication="name"-->
				欢迎：<span id="username" sec:authentication="name" ></span><br/>
				<span>[[${message} == null?'':${message}]]</span>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					客户档案检索：
					用户卡号：<input type="text" id="card"/>用户地址：<input type="text" id="address"/>用户电话：<input type="text" id="phone"/><br/>
					用户姓名：<input type="text" id="name"/>用户手机：<input type="text" id="mobile"/>
					<table id="admintable">
						<thead>
							<tr>
								<td>结算户代码</td>
								<!-- <td>档案号</td> -->
								<td>用户名</td>
								<td>状态</td>
								<td>地址</td>
								<td>计费类型</td>
								<td>上年度缴费</td>
								<td>本年度缴费</td>
								<td>结算户类型</td>
								<td>用户数</td>
								<td>关联数量</td>
								<td>身份证号</td>
								<td>单位</td>
								<td>联系人</td>
								<td>签约银行</td>
								<td>上月热表数(KJ)</td>
								<td>本月热表数(KJ)</td>
								<td>电话</td>
								<td>操作</td>
							</tr>
						</thead>
						<tbody>
						
						</tbody>
					</table>
				</div>
				
				<div sec:authorize="hasRole('ROLE_USER')" id="clientcontent">
					<table id="clienttable">
						<tr>
							<td>结算户代码</td>
							<!-- <td>档案号</td> -->
							<td>用户名</td>
							<td>状态</td>
							<td>地址</td>
							<td>计费类型</td>
							<td>上年度缴费</td>
							<td>本年度缴费</td>
							<td>结算户类型</td>
							<td>用户数</td>
							<td>关联数量</td>
							<td>身份证号</td>
							<td>单位</td>
							<td>联系人</td>
							<td>签约银行</td>
							<td>上月热表数(KJ)</td>
							<td>本月热表数(KJ)</td>
							<td>电话</td>
						</tr>
						<tr id="result">
							<td>[[${client.no}]]</td>
							<!-- <td></td> -->
							<td>[[${client.name}]]</td>
							<td>[[${client.state}]]</td>
							<td>[[${client.address}]]</td>
							<td>[[${client.chargetype}]]</td>
							<td>[[${client.lastyearcharge}]]</td>
							<td>[[${client.thisyearcharge}]]</td>
							<td>[[${client.usertype}]]</td>
							<td>[[${client.totaluser}]]</td>
							<td>[[${client.revnum}]]</td>
							<td>[[${client.identity}]]</td>
							<td>[[${client.organization}]]</td>
							<td>[[${client.contact}]]</td>
							<td>[[${client.bank}]]</td>
							<td>[[${client.lastmonthkj}]]</td>
							<td>[[${client.thismonthkj}]]</td>
							<td>[[${client.phone}]]</td>
						</tr>
					</table>
					<form id="form" action="/client/repair"  method="post">
						报修单名：
						<input type="text" id="name" name="name"/>
						<input type="hidden" id="clientid" name="clientid" th:value="${client.id}"/>
						报修类型：
						<select name="itype">
							<option value="OTHER">其他</option>
							<option value="LEAK">漏水</option>
							<option value="HEATMETER">热表故障</option>
							<option value="COLD">无法升温</option>
						</select><br/>
						片区负责：
						<select name='user.id'>
							<option value="${item.id}" th:if="${#lists.notEmpty(emps)}" th:each="item,index :${emps}">[[${item.name}]]</option>
						</select>
						紧急联系人：<input type="text" id="contact" /><br/>
						联系人电话：<input type="text" id="phone" /><br/>
						备注：
						<textarea id="comment">
						</textarea>
						<input type="submit" name="提交" id="submit"/>
					</form>
				</div>
				
				<div sec:authorize="hasRole('ROLE_EMP')" id="empcontent">
					<!-- <table>
						<tr>
							<td>序号</td>
							<td>用户卡号</td>
							<td>姓名</td>
							<td>手机号码</td>
							<td>固定电话</td>
							<td>地址</td>
							<td>操作</td>
						</tr>
						<tr id="result">
							<td>1</td>
							<td>用户卡号</td>
							<td>姓名</td>
							<td>手机号码</td>
							<td>固定电话</td>
							<td>地址</td>
							<td><a href="">详细信息</a><a href="">报修</a></td>
						</tr>
					</table> -->
				</div>
				
				<!-- <div sec:authorize="hasRole('ROLE_LEADER')">
				用户卡号：<input type="text" id="card"/>用户地址：<input type="text" id="address"/>用户电话：<input type="text" id="phone"/><br/>
				用户姓名：<input type="text" id="name"/>用户手机：<input type="text" id="mobile"/>
				</div> -->
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container text-center">Copyright © 2001-2014 Rabbit Network All Rights Reserved.</div>
	</div>
<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/lanyu/adminindex.js}" sec:authorize="hasRole('ROLE_ADMIN')"></script>
<script type="text/javascript" th:src="@{/static/js/lanyu/clientindex.js}" sec:authorize="hasRole('ROLE_USER')"></script>
<script type="text/javascript" th:src="@{/static/js/lanyu/empindex.js}" sec:authorize="hasRole('ROLE_USER')"></script>
</body>
</html>