<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>蓝煜热力客户信息服务管理系统</title>
<meta charset="UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="/favicon.ico" />
<!-- <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" /> -->
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
<!-- <sitemesh:write property='head'/> -->
</head>
<body th:inline="text">
	<div class="head" th:include="fragements/header"></div>
	<div class="left" th:include="fragements/left"></div>
	<div class="right">
		<div class="brandcrumb">
			<h6 class="position">您当前的位置为：首页</h6>
		</div>
		<div class="right-scr">
			<div class="achive-searchbox clearfix" sec:authorize="hasRole('ROLE_ADMIN')">
				<p class="title">客户档案检索</p>
				<div class="field mr-38">
					<div class="input-row">
						<label>用户卡号：</label>
						<input type="text" id="card" />
					</div>
					<div class="input-row">
						<label>用户姓名：</label>
						<input type="text" id="name" />
					</div>
				</div>
				<div class="field mr-38">
					<div class="input-row">
						<label>用户地址：</label>
						<input type="text" id="address" />
					</div>
					<div class="input-row">
						<label>用户手机：</label>
						<input type="text" id="mobile" />
					</div>
				</div>
				<div class="field">
					<div class="input-row">
						<label>用户电话：</label>
						<input type="text" id="phone" />
					</div>
					<!-- <div class="input-row search-btn">
						<a>搜  索</a>
					</div> -->
				</div>
			</div>
			<div class="search-result">
			<div class="welcome-info">欢迎：<span id="username" sec:authentication="name" ></span>！<span sec:authorize="hasRole('ROLE_ADMIN')">作为管理员，您可以<a class="res" th:href="@{/signup}">注册</a></span>
				<span>[[${message} == null?'':${message}]]</span></div>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<table id="admintable">
						<thead>
							<tr>
								<th>结算户代码</th>
								<!-- <td>档案号</td> -->
								<th>用户名</th>
								<th>状态</th>
								<th>地址</th>
								<th>计费类型</th>
								<th>上年度缴费</th>
								<th>本年度缴费</th>
								<th>结算户类型</th>
								<!-- <td>用户数</td>
								<td>关联数量</td>
								<td>身份证号</td>
								<td>单位</td>
								<td>联系人</td>
								<td>签约银行</td>
								<td>上月热表数(KJ)</td>
								<td>本月热表数(KJ)</td>
								<td>电话</td> -->
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				
				<div sec:authorize="hasRole('ROLE_USER')" id="clientcontent">
					<table id="clienttable" class="table table-striped">
						<tr>
							<td>结算户代码</td>
							<!-- <td>档案号</td> -->
							<td>用户名</td>
							<td>状态</td>
							<td>地址</td>
							<td>计费类型</td>
							<td>上年度缴费</td>
							<td>本年度缴费</td>
							<td>结算户类型</td>
							<td>用户数</td>
							<td>关联数量</td>
							<td>身份证号</td>
							<td>单位</td>
							<td>联系人</td>
							<td>签约银行</td>
							<td>上月热表数(KJ)</td>
							<td>本月热表数(KJ)</td>
							<td>电话</td>
						</tr>
						<tr id="result">
							<td>[[${client.no}]]</td>
							<td>[[${client.name}]]</td>
							<td>[[${client.state}]]</td>
							<td>[[${client.address}]]</td>
							<td>[[${client.chargetype}]]</td>
							<td>[[${client.lastyearcharge}]]</td>
							<td>[[${client.thisyearcharge}]]</td>
							<td>[[${client.usertype}]]</td>
							<td>[[${client.totaluser}]]</td>
							<td>[[${client.revnum}]]</td>
							<td>[[${client.identity}]]</td>
							<td>[[${client.organization}]]</td>
							<td>[[${client.contact}]]</td>
							<td>[[${client.bank}]]</td>
							<td>[[${client.lastmonthkj}]]</td>
							<td>[[${client.thismonthkj}]]</td>
							<td>[[${client.phone}]]</td>
						</tr>
					</table>
					<form id="form" action="/client/repair"  method="post">
						报修单名：
						<input type="text" id="name" name="name"/><br/>
						<input type="hidden" id="clientid" name="clientid" th:value="${client.id}"/><br/>
						报修类型：
						<select name="itype">
							<option value="3">其他</option>
							<option value="0">漏水</option>
							<option value="1">热表故障</option>
							<option value="2">无法升温</option>
						</select><br/>
						片区负责：
						<select name='user.id'>
							<option th:if="${not #lists.isEmpty(emps)}" th:each="item,index :${emps}" th:value="${item.id}">[[${item.name}]]</option>
						</select><br/>
						紧急联系人：<input type="text" id="contact" name="contact"/><br/>
						联系人电话：<input type="text" id="phone" name="phone"/><br/>
						备注：
						<textarea id="comment" name="comment">
						</textarea><br/>
						<input type="submit" name="提交" id="submit"/>
					</form>
				</div>
				<!-- <table>
					<thead>
						<tr>
							<th>序号</th>
							<th>用户卡号</th>
							<th>姓名</th>
							<th>手机号码</th>
							<th>固定电话</th>
							<th>地址</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>00001</td>
							<td>张三</td>
							<td>13778888888</td>
							<td>025888888</td>
							<td>南京市建邺区河西大街<a class="ds-ib ml-15">详细信息</a><a class="ds-ib ml-15">报修</a></td>
						</tr>
					</tbody>
				</table> -->
			</div>
		</div>
	</div>
	<div class="footer" th:include="fragements/footer"></div>
<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/lanyu/adminindex.js}" sec:authorize="hasRole('ROLE_ADMIN')"></script>
<script type="text/javascript" th:src="@{/static/js/lanyu/clientindex.js}" sec:authorize="hasRole('ROLE_USER')"></script>
</body>
</html>