<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>蓝煜热力客户信息服务管理系统</title>
<meta charset="UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
<!-- <sitemesh:write property='head'/> -->
</head>
<body th:inline="text">
	<div class="head" th:include="fragements/header"></div>
	<div class="left" th:include="fragements/left"></div>
	<div class="right">
		<div class="brandcrumb">
			<a href="/index" class="back-home fr bold">&lt;&lt; 返回首页</a>
			<h6 class="position">您当前的位置为： <a href="/index"><span style="color:white;font-weight:bold">首页</span></a> &gt; 未受理报修</h6>
		</div>
		<div class="right-scr">
				<span>[[${message} == null?'':${message}]]</span>
				<div class="search-result">
					<table class="table table-bordered" id="table">
						<tr class="bold">
							<td>名称</td>
							<td>报修类型</td>
							<td>报修用户</td>
							<td>服务人员</td>
							<td>地址</td>
							<td>电话</td>
							<td>备注</td>
							<td sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_REPAIR')" >操作</td>
						</tr>
						<tr th:id="${item.id}" th:each="item,stat : ${insurances}" th:if="not ${#lists.isEmpty(insurances)}">
							<td>[[${item.name}]]</td>
							<td>[[${item.itype.desc}]]</td>
							<td>[[${item.client.name}]]</td>
							<td>[[${item.user} == null?'':${item.user}]]</td>
							<td>[[${item.contact}]]</td>
							<td>[[${item.phone}]]</td>
							<td>[[${item.comment} == null?'':${item.comment}]]</td>
							<td sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_REPAIR')" ><a th:href="@{/emp/feedback/__${item.id}__}">处理保修单</a></td>
						</tr>
					</table>
				</div>
				<!-- TODO: -->
				<div id="page" class="clearfix mt-20">
				</div>
		</div>
	</div>
	<div class="footer" th:include="fragements/footer"></div>
<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/static/js/bootstrap-paginator.min.js}"></script>
<script type='text/javascript' th:inline="javascript">
$(function(){
	/*<![CDATA[*/
    var isadmin = /*[[${#authorization.expression('hasRole(''ROLE_ADMIN'')')}]]*/;
    var isclient = /*[[${#authorization.expression('hasRole(''ROLE_USER'')')}]]*/;
    var isemp = /*[[${#authorization.expression('hasRole(''ROLE_REPAIR'')')}]]*/;
    var id = /*[[${#authentication.principal.id}]]*/;
	/*]]>*/
	var pageUrl;
	if(isadmin){
		pageUrl = '/admin/unhandle/';
	}else if(isclient){
		pageUrl = '/client/unhandle/';
	}else if(isemp){
		pageUrl = '/emp/unhandle/';
	}
    var options = {
	    currentPage: '[[${page.currentPage}]]',
	    totalPages: '[[${page.totalPage}]]',
		numberOfPages: 5,
	    pageUrl: function(type, page, current){
	    	return pageUrl + page;
	    },
  		containerClass:'pagination'
    }

    $('#page').bootstrapPaginator(options);
});
</script>
</body>
</html>
